:root {
    /* CODE BLOCK COLORS */
    --block-bg: #bdc3c7;
    --block-text: #2c3e50;

    /* THEME */
    /* LIGHT */
    --bg-color-light: #ecf0f1;
    --text-color-light: #34495e;
    --title-color-light: #2c3e50;
    --misc-color-light: #d35400;
    /* DARK */
    --bg-color-dark: #2c3e50;
    --text-color-dark: #ecf0f1;
    --title-color-dark: #bdc3c7;
    --misc-color-dark: #f39c12;

    /* FONTS */
    --font-family: 'Helvetica', sans-serif;
    --font-family-code: 'Source Code Pro', monospace;
    --font-weight-light: 300;
    --font-weight-normal: 400;

    /* SIZES */
    --max-width: 720px;
}
:root.light {
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
    --title-color: var(--title-color-light);
    --misc-color: var(--misc-color-light);
}
:root.dark {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --title-color: var(--title-color-dark);
    --misc-color: var(--misc-color-dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--bg-color-dark);
        --text-color: var(--text-color-dark);
        --title-color: var(--title-color-dark);
        --misc-color: var(--misc-color-dark);
    }
}
