---
layout: main
title: "Doğan Öztürk | Çeşitli Fikirler"
eleventyExcludeFromCollections: true
---
section.post-summaries
    each item in collections.all.slice(0).reverse()
        include ./_includes/partials/post-summary
