---
layout: home
title: "Doğan Öztürk | Blog"
eleventyExcludeFromCollections: true
---
section.post-summaries
    each item in collections.all.slice(0).reverse()
        include _includes/components/post-summary/post-summary
