/* VARIABLES */
:root {
    /* COLORS */
    --bg-color: #EEE5E9;
    --text-color: #0C0910;
    --title-color: #7C7C7C;
    --misc-color: #909590;
    --dark-color: #383D3B;

    /* FONTS */
    --font-family: 'Roboto', sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;

    /* SIZES */
    --max-width: 720px;
}

/* GENERAL */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    all: unset;
    cursor: pointer;
}
a:hover {
    opacity: 0.8;
}

/* BODY */
body {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
}

/* CONTAINER */
body > .container {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 20px;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}
.header > .title {
    align-self: flex-start;
    margin-top: 5px;
    font-size: 2em;
    font-weight: var(--font-weight-normal);
}
.header > .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* MAIN */
.main {
    margin-top: 30px;
}

/* MAIN => POST-SUMMARIES */
.main > .post-summaries {

}
.main > .post-summaries > .post-summary {
    display: block;
}
.main > .post-summaries > .post-summary:not(:first-child) {
    margin-top: 40px;
}
.main > .post-summaries > .post-summary > .title {
    font-size: 1.3em;
    line-height: 1.2;
    color: var(--title-color);
}
.main > .post-summaries > .post-summary > .date {
    margin-top: 8px;
    font-size: 0.8em;
    color: var(--misc-color);
}
.main > .post-summaries > .post-summary > .summary {
    margin-top: 20px;
    line-height: 1.4;
}

/* POST */
.post.markdown-body {
    padding-top: 30px;
    font-family: var(--font-family);
}
.post.markdown-body ul,
.post.markdown-body ol {
    list-style: disc;
}
.post.markdown-body hr {
    height: 0.05em;
    background-color: var(--title-color);
}

/* FOOTER */
.footer {
    margin-top: auto;
    margin-bottom: 10px;
}
.footer > .links {
    display: flex;
}
.footer > .links > .link {
    margin-right: 5px;
    color: var(--text-color);
    font-size: 0.95em;
    font-weight: var(--font-weight-normal);
}

