/* VARIABLES */
:root {
    /* COLORS */
    --block-bg: #bdc3c7;
    --block-text: #2c3e50;
    --bg-color: #ecf0f1;
    --text-color: #34495e;
    --title-color: #2c3e50;
    --misc-color: #d35400;

    /* FONTS */
    --font-family: 'Roboto', sans-serif;
    --font-family-code: 'Source Code Pro', monospace;
    --font-weight-light: 300;
    --font-weight-normal: 400;

    /* SIZES */
    --max-width: 720px;
}

/* DARK MODE */
/*@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2c3e50;
        --text-color: #ecf0f1;
        --title-color: #bdc3c7;
        --misc-color: #f39c12;
    }
}*/

/* GENERAL */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    all: unset;
    cursor: pointer;
}
a:hover {
    opacity: 0.8;
}

/* BODY */
body {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
}

/* CONTAINER */
body > .container {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 20px;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}
.header > .title {
    align-self: flex-start;
    margin-top: 5px;
    color: var(--title-color);
}
.header > .title > .name {
    font-size: 2em;
    font-weight: var(--font-weight-normal);
}
.header > .title > .info {
    margin-top: 10px;
    font-weight: var(--font-weight-light);
}
.header > .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* MAIN */
.main {
    margin-top: 70px;
}

/* MAIN => POST-SUMMARIES */
.main > .post-summaries {

}
.main > .post-summaries > .post-summary {
    display: block;
}
.main > .post-summaries > .post-summary:not(:first-child) {
    margin-top: 40px;
}
.main > .post-summaries > .post-summary > .title {
    font-size: 1.3em;
    line-height: 1.2;
    color: var(--title-color);
}
.main > .post-summaries > .post-summary > .date {
    margin-top: 8px;
    font-size: 0.8em;
    color: var(--misc-color);
}
.main > .post-summaries > .post-summary > .summary {
    margin-top: 20px;
    line-height: 1.4;
}

/* POST */
.post {
    font-family: var(--font-family);
}
.post h1 {
    margin: 40px 0;
    color: var(--title-color);
    font-size: 1.75em;
    font-weight: var(--font-weight-normal);
}
.post p {
    margin-top: 20px;
    line-height: 1.4;
}
.post hr + p {
    margin-top: 40px;
}
.post p a {
    color: var(--misc-color);
}
.post ul,
.post ol {
    margin-top: 20px;
    padding-left: 20px;
    list-style: disc;
}
.post ul li,
.post ol li {
    margin-top: 10px;
}
.post pre {
    margin-top: 20px;
}
.post pre code {
    padding: 20px;
    font-family: var(--font-family-code);
    font-size: 0.95em;
    line-height: 1.4em;
    border-radius: 4px;
}
.post p > code {
    padding: 0 4px;
    font-family: var(--font-family-code);
    font-size: 0.9em;
    color: var(--block-text);
    background-color: var(--block-bg);
    border-radius: 4px;
}
.post blockquote {
    padding-left: 30px;
    font-style: italic;
}
.post hr {
    margin-top: 40px;
    height: 0.05em;
    background-color: var(--text-color);
}


/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 10px;
}
.footer > .links,
.footer > .theme-switcher {
    display: flex;
}
.footer > .links > .link,
.footer > .theme-switcher > .switch {
    margin-right: 5px;
    color: var(--misc-color);
    font-size: 0.95em;
    font-weight: var(--font-weight-normal);
}

