footer.footer
    ul.links
        li.link
            a(href="mailto:doganozturk2005@gmail.com")
                span mail .
        li.link
            a(href="https://twitter.com/dodothebird" target="_blank" rel="noopener")
                span twitter .
        li.link
            a(href="https://github.com/doganozturk" target="_blank" rel="noopener")
                span github .
        li.link
            a(href="https://linkedin.com/in/doganozturk" target="_blank" rel="noopener")
                span linkedin
