footer.footer
    ul.links
        li.link
            a(href="https://twitter.com/dodothebird")
                span twitter .
        li.link
            a(href="https://github.com/doganozturk")
                span github
