header.header
    a.header-main(href="/")
        img.avatar(src="/public/images/avatar.jpg")
        .title
            p.name Doğan Öztürk
            p.info Yazılım ve diğer şeyler üzerine kişisel karalamalar
    include ./theme-switcher

