head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{ title }
    block styles
        link(rel="preload" href="/public/static/fonts/Roboto-Light.ttf" as="font" type="font/ttf")
        link(rel="preload" href="/public/static/fonts/Roboto-LightItalic.ttf" as="font" type="font/ttf")
        link(rel="preload" href="/public/static/fonts/Roboto-Regular.ttf" as="font" type="font/ttf")
