header.header
    a.header-main(href="/")
        img.avatar(src="/public/images/avatar.jpg" loading="lazy" width=100 height=100)
        .title
            p.name Doğan Öztürk
            p.info Yazılım ve diğer şeyler üzerine kişisel karalamalar
    include ./theme-switcher

