doctype html
html(lang="tr")
    include ../partials/head
    block meta
        meta(name="description" content="Ben Doğan, yazılım mühendisiyim. Genel olarak yazılım, detayda ise web geliştirme, önyüz geliştirme, Node.js, Python vb. konularda düşüncelerimi paylaşmaya çalışıyorum.")
    block styles
        style
            include:clean-css ../../public/static/css/reset.css
            include:clean-css ../../public/static/css/styles.css
    body
        .container
            include ../partials/header
            main.main
                | !{ content }
            include ../partials/footer

            script
                include ../../node_modules/fontfaceobserver/fontfaceobserver.standalone.js
                include:uglify-js:babel ../../public/static/js/init-fonts.js
                include:uglify-js:babel ../../public/static/js/init-theme-controls.js
