doctype html
html(lang="tr")
    include ../partials/head
    block styles
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap" rel="stylesheet")
        style
            include:clean-css ../../public/static/css/reset.css
            include:clean-css ../../public/static/css/styles.css
            include:clean-css ../../public/static/css/highlight/monokai-sublime.css
    body
        .container
            include ../partials/header
            main.post.markdown-body
                | !{ content }
            include ../partials/footer

            script
                include:uglify-js ../../public/static/js/highlight/highlight.pack.js
                include:uglify-js:babel ../../public/static/js/init-highlight.js
                include:uglify-js:babel ../../public/static/js/init-theme-controls.js
